---
layout: default
label: 0
---
<div class="home other-pages">
<br>
  <h1 class="page-heading">Archive</h1>
        <h3> Intelligence </h3>
  <ul>
    {% assign items_grouped = site.posts | group_by: 'cate' %}
  {% for post in items_grouped[1].items %}
    <li>
      <a class="list-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({{ post.date | date: "%b %-d, %Y" }})
    </li>
  {% endfor %}
  </ul>
    <hr>
      <h3> Investment </h3>
  <ul>
  {% for post in items_grouped[0].items %}
    <li>
      <a class="list-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({{ post.date | date: "%b %-d, %Y" }})
    </li>
      {% endfor %}
  </ul>
</div>
